%div{style: 'text-align: center;'}
  = image_tag('http://1-ps.googleusercontent.com/h/www.dermbids.com/wp-content/uploads/2013/02/349x70xlogo_admin.png.pagespeed.ic.EyvSuSTh5u.webp')

%hr

%h3 Get Your Tattoo Removal Quotes!
%p Fill out the simple form below to get personalized quotes for your tattoo removal!


= render 'form'