#clinics-not-yet-quoted
  -if @clinics
    %h3 Select which clinics you would like to forward a quote request:
    %table.table
      -@clinics.not_yet_quote_requested(@quote_request).each do |clinic|
        %tr
          %td= clinic.business_name
          %td= "#{clinic.city}, #{clinic.state}"
          %td
            =form_tag admin_clinic_communications_path do
              =hidden_field_tag 'quote_request_id', @quote_request.id
              =hidden_field_tag 'clinic_id', clinic.id
              =hidden_field_tag 'type', ClinicCommunication::COMMUNICATION_TYPES[:quote_request]
              =submit_tag 'Request Quote', class: "btn btn-info"