%p#notice
  =notice

%p
  %strong Email:
  =@quote_request.email

%p
  %strong Full Name:
  =@quote_request.full_name

%p
  %strong Postal Code:
  =@quote_request.postal_code

%p
  %strong Image URL:
  =image_tag(@quote_request.photo.url(:size320), style: "width:320px;") if @quote_request.photo

%h1 Status and Comment History

%p
  %strong Current Status of Quote Request:
  =QuoteRequest::STATUS.key(@quote_request.status).capitalize

%h1 Send Quote to Clinic

#select-clinics-for-quote
  = render partial: 'admin/quote_requests/clinics_already_quoted'
  = render partial: 'admin/quote_requests/clinics_not_yet_quoted'