.navbar-admin {
  background-color: #FFC285;
}

.quote-request-summary {
  margin-bottom: 10px;
  img {
    width: 100%;
  }
  .detail {
    border-top: 1px solid #666666;
    padding-top: 10px;
  }

}

//[class*="col-md"] {
//background-color: skyblue;
//}